<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Menu Item</h1>
	<form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method="post">
		<label for="menuName">Name:</label><br>
			<input type="text" name="menuName" rows="5" cols="40" required><br>
		<label for="menuDescription">Description:</label><br>
			<textarea type="text" name="menuDescription" rows="10" cols="60" required></textarea><br>
		<label for="menuPrice">Price:</label><br>
			<input type="text" name="menuPrice" size="8" placeholder="$9.99" required><br>
		<label for="course">Course:</label><br>
			<input type="radio" name="course" value="appetizer" checked="checked"> Appetizer<br>
		  <input type="radio" name="course" value="entree"> Entree<br>
		  <input type="radio" name="course" value="dessert"> Dessert<br>
		  <input type="radio" name="course" value="beverage"> Beverage<br>
		<input type="submit" name="NewMenu" value="Create"><br>
		<a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">Cancel</a>
	</form>
</body>
</html>